
ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.navbar{
    display: flex;
    justify-content: space-between;
}

.logo {
    height: 60px;
}
.button {
    border: 0px;
    padding: 5px, 10px;
    border-radius: 10px;
    font-weight: bolder;
    
}
.button:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.mainButton {
    background-color: mediumseagreen;
    color: white;
    border: 0px;
    padding: 5px, 10px;
    border-radius: 10px;
    font-weight: bolder;
    
    
}

.mainButton:hover {
    cursor: pointer;
    transform: scale(1.1);
    box-shadow: 1px, 1px, green;
}

.buscar {
    background-color: white;
    border: 1px solid gray;
    padding: 4px;
    border-radius: 8px;
}

.buscar:focus-within {
    border: 1px solid blue;
}

.secondaryButton {
    background-color: rgb(105, 199, 223);
    color: white;
}

.secondaryButton:hover {
    cursor: pointer;
    box-shadow: 1px, 1px, rgb(119, 229, 234);
}

.buscar > input {
    outline: none;
    border: 0px;
}